#news
  .title
    %span= page_news.title
  .item
    .wrap
      .image.image_one_new
        = @article.image_uid ? image_tag(@article.image.thumb('131x131#').url) : image_tag('images/no_photo.png')
      .full_text
        %span.title_item= @article.title
        .date= @article.date_format
        %p
          =raw @article.text