.left-col
  %h1 Новости
  .news
    - Article.order('date DESC').all[0..2].each do |article|
      .item
        .date= article.date_format
        .text= link_to article.text_on_main, "/articles/" + article.id.to_s
    - if page_news
      = link_to "Архив новостей", "/pages/" + page_news.id.to_s, :class => "archive"
.right-col
  =raw main_page.text
.cc
