- if @page.purpose == "Главная страница"
  .left-col
    %h1 Новости
    .news
      - Article.order('date DESC').all[0..2].each do |article|
        .item
          .date= article.date_format
          .text= link_to article.text_on_main, "/articles/" + article.id.to_s
      - if page_news
        = link_to "Архив новостей", "/pages/" + page_news.id.to_s, :class => "archive"
  .right-col
    =raw main_page.text
  .cc

- elsif @page.purpose == "Новости"
  #news
    .title
      %span= @page.title
    - page = params[:p] ? params[:p].to_i : 1
    - count = MyConfig.find_by_key("count_on_page").value.to_i
    - start = count*(page - 1)
    - count_pages = (Article.count.to_f/count).ceil
    - url = "/pages/" + page_news.id.to_s + "?p="

    - Article.order('date DESC').limit(count).offset(start).all.each do |article|
      .item
        .wrap.all_items
          .image
            = link_to "/articles/" + article.id.to_s do
              = article.image_uid ? image_tag(article.image.thumb('131x131#').url) : image_tag('images/no_photo.png')
          .text
            = link_to article.title, "/articles/" + article.id.to_s
            .date= article.date_format
            %p
              =raw article.short_text

    - unless count_pages == 1
      .pagination

        - if page == count_pages
          %span.next Следующая страница
        - else
          %a.next{:href => (url + (page+1).to_s)} Следующая страница
        - if page == 1
          %span.priv Предыдущая страница
        - else
          %a.priv{:href => (url + (page-1).to_s)} Предыдущая страница

        .wrap
          - for i in 1..count_pages
            %a{:href => (url + i.to_s), :class => i==page ? "active" : ""}= i

- elsif @page.purpose == "Услуги"
  #service
    .title
      %span= @page.title
    - Service.order('sort').limit(5).offset(0).all.each do |service|
      .item
        .wrap
          .image
            = link_to "/services/" + service.id.to_s + "-" + service.main_menu.transliterate do
              %img{:alt => "", :src => "/assets/images/service_"+ service_image_url(service.main_menu) + ".png"}/
          .text
            %p=raw service.short_text
          .cc
- elsif @page.purpose == "Контакты"
  #service.minimal_padding
    .title
      %span= @page.title
    =raw @page.text
    - Contact.order("sort").all.each do |contact|
      .contacts-block{:style => "height: #{contact.foto ? 185 : 80}px; float:left;"}
        - if contact.foto
          .contact_photo{:style => "border: 1.5px solid #818286; height: 160px;"}= image_tag( contact.foto.thumb("170x160").url )
        - else
          .contact_photo{:style => "height: 10px;"}
        .contact_text
          %span{:style => "color:#58595b; font-weight: bold;"}=raw contact.title
          %br
          - if contact.name and contact.name!=""
            %span{:style => "color:#0b67b2;"}= contact.name
            %br
          - if contact.phone and contact.phone!=""
            Телефон:
            = contact.phone
            %br
          - if contact.fax and contact.fax!=""
            Факс:
            = contact.fax
            %br
          - if contact.email and contact.email!=""
            E-mail:
            %a{:href => "mailto:#{contact.email}"}= contact.email
    .cc

- else
  #service.minimal_padding
    .title
      %span= @page.title
    =raw @page.text

