/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {  }
body { margin: 0; padding: 0; background: #fff url('/assets/images/bg.png'); font: 13px Arial; color: #686868; }
a img { border: 0; }
img { border: 0; }
map { border: 0; }
area { border: 0; }
a { color: #1a70c0; text-decoration: underline; outline: none; }
a:hover { text-decoration: none; cursor: pointer; }
.cc { clear: both; height: 0px; width: 0px; }
.fr { float: right; }
.fl { float: left; }
.t-center { text-align: center; }
.relative { position: relative; }
.top-40 { margin-top: 40px; }
.top-30 { margin-top: 30px; }
.top-20 { margin-top: 20px; }
.top-10 { margin-top: 10px; }
.nopadding { padding: 0!important; }
.nobackground { background: none!important; }

h1 { font: Bold 30px Arial; color: #686868; }

#header { width: 1200px; margin: 0 auto; background: url('/assets/images/header_bg.png') no-repeat center top; height: 730px; position: relative; }
#header .logo { position: absolute; top: 21px; left: 78px; }

#header .phone { position: absolute; top: 47px; right: 100px; font: Bold 14px Arial; color: #555; }
#header .phone .num { font: Bold 28px Arial; color: #2e509e; }
#header .phone .num span { color: #db812f; font-size: 40px; }

#header .categories { position: absolute; top: 468px; right: 66px; z-index: 3; }

#header .menu { width: 531px; height: 83px; left: 76px; top: 640px; position: absolute; background: url('/assets/images/menu_bg.png') no-repeat left top; z-index: 2; }
#header .menu>.wrap { padding: 0 0 0 42px; }
#header .menu>.wrap ul { margin: 0; padding: 0; list-style: none; }
#header .menu>.wrap ul li { float: left; margin-left: -49px; }
#header .menu>.wrap ul li a { width: 126px; padding: 33px 0; font: 10px Arial; text-shadow: 1px 1px 0px #b67100; color: #fff; text-transform: uppercase; text-align: center; display: block; text-decoration: none; background: url('/assets/images/menu_link_bg.png') no-repeat 82px center; }
#header .menu>.wrap ul li:last-child a { background: transparent; }
#header .menu>.wrap ul li.last a { background: transparent; }
#header .menu>.wrap ul li a:hover, #header .menu>.wrap ul li.active a { background: url('/assets/images/menu_link_hover.png') no-repeat top left; text-shadow: none; }

.layout { width: 1000px; margin: 0 auto; padding: 0 100px; }
.layout>.left-col { position: relative; float: left; width: 260px; padding-right: 28px; }
.layout>.right-col { position: relative; float: left; width: 710px; }

.layout>.left-col .news {  }
.layout>.left-col .news .item { padding-bottom: 20px; }
.layout>.left-col .news .item .date { font: 11px Arial; color: #686868; padding-bottom: 5px; }
.layout>.left-col .news .item .text a { font: 13px/16px Arial; color: #686868; display: block; }
.layout>.left-col .news .item .text a:hover { color: #1d44a5; }
.layout>.left-col .news .archive { font: 13px Arial; color: #686868; padding-left: 17px; background: url('/assets/images/archive.png') no-repeat left center; }

#footer { background: url('/assets/images/footer_bg.png') no-repeat top left; width: 1119px; margin: 0 auto; margin-top: 20px; height: 77px; }
#footer>.wrap { padding: 20px 70px; font: Bold 13px Arial; color: #fff; }
#footer>.wrap .copy { text-shadow: 1px 1px 0px #b67100; float: left; width: 230px; padding-right: 60px; }
#footer>.wrap .phone { font-size: 14px; width: 160px; float: left; }
#footer>.wrap .addres { font-size: 14px; width: 290px; float: left; }
#footer>.wrap .production { text-align: right; margin-top: 8px; }

/* News.html */
#news { position: relative; }
#news .title { background: repeat-x center left; margin: 30px 10px 15px; }
#news .title span { font: Bold 30px Arial; color: #686868; background: #fff url('/assets/images/bg.png'); padding-right: 20px; }
#news .item { border-bottom: 1px dotted #b6b6b6; padding-bottom: 0px; }
#news>div.item:last-child { border: 0; }
#news .item .wrap { padding: 7px 7px 7px; margin: 5px 10px; min-height: 131px;}
#news .item .title_item {color: #1F48A8; text-decoration: underline; font: 16px Arial;}
#news .item .wrap.all_items:hover { background: #f5f5f5; -webkit-box-shadow: 0px 0px 6px rgba(2, 7, 3, 0.51); -moz-box-shadow: 0px 0px 6px rgba(2, 7, 3, 0.51); box-shadow: 0px 0px 6px rgba(2, 7, 3, 0.51); cursor: pointer; }
#news .item .wrap .image { float: left; width: 131px; height: 131px; background: none no-repeat left top; }
#news .item .wrap .image_one_new {margin-right: 10px;}
#news .item .wrap .image img { max-width: 131px; max-height: 131px; }
#news .item .wrap .text, #news .item .wrap .full_text {  font: 14px/17px 'Myriad Pro'; color: #525252; }
#news .item .wrap .text {padding-left: 140px;}
#news .item .wrap .text p, #news .item .wrap .full_text p { margin: 0; }
#news .item .wrap .text a, #news .item .wrap .full_text a  { font: 16px Arial; color: #1f48a8; }
#news .item .wrap .text .date, #news .item .wrap .full_text .date { font: 11px Arial; color: #535353; padding: 5px 0 3px 0; }
#news .pagination { padding: 10px 0; }
#news .pagination .priv, #news .pagination .next { display: block; float: left; width: 179px; background: url('/assets/images/priv_next_news.png') no-repeat top left; text-align: center; font: 13px Arial; color: #fff; text-decoration: none; padding: 6px 0; }
#news .pagination .next { float: right; }
#news .pagination .wrap { text-align: center; }
#news .pagination .wrap a { display: inline-block; width: 43px; text-align: center; padding: 6px 0; font: 13px Arial; color: #525252; text-decoration: none; }
#news .pagination .wrap a:hover, #news .pagination .wrap a.active { background: url('/assets/images/pagination_link.png') no-repeat top left; color: #fff; }

/* Service.html */
#service { position: relative; padding-bottom: 30px; }
#service .title { background: repeat-x center left; margin: 30px 0px 0 15px; }
#service .title span { font: Bold 30px Arial; color: #686868; background: #fff url('/assets/images/bg.png'); padding-right: 20px; }
#service .item { padding: 12px 0 0 0; }
#service .item .image { float: left; width: 260px; }
#service .item .image img { max-width: 260px; }
#service .item .text { padding-left: 265px; }

.layout .minimal_padding {
    padding-bottom: 5px;
}

.invisible-layout {
    opacity: 0;
}

/* contacts */
.contact_photo {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
    width: 160px;
}

.contact_text {
    float: left;
    width: 280px;
    margin-right: 20px;
    margin-top: 10px;
}

a[rel] {
    text-decoration: none;
}
