<div id="footer">
  <div class="wrap">
    <div class="copy">
      <%= Time.now.year %> © Все права защищены<br />“СТС” транспортная компания
    </div>
    <div class="phone">
      <%= MyConfig.find_by_key("phone1").value %><br /><%= MyConfig.find_by_key("phone2").value %>
    </div>
    <div class="addres">
      <%=raw MyConfig.find_by_key("footer_text").value  %>
    </div>
    <div class="production">
      <a target="_blank" href="http://bz.buzuluk.bz/"><%= image_tag 'images/bz.png', alt: 'Buzuluk.bz' %></a>
    </div>
  </div>
</div>
