<div id="header">
  <div class="logo">
    <a href="/pages/<%=main_page.id%>"><img src="/assets/images/logo.png" alt="" /></a>
  </div>
  <div class="phone">
    <div class="num"><%=raw analiz_phone %></div>
    <%=raw MyConfig.find_by_key("address").value %>
  </div>
  <div class="categories">
    <img src="/assets/images/categories_bg.png" alt="" usemap="#categories_navigation" />
    <map id="categories_navigation" name="categories_navigation">
      <% url = "/services/" %>
      <area shape="poly" coords="97,87,302,87,254,164,52,164" href="<%= url + Service.find_by_main_menu('Краны').id.to_s %>-<%= 'Краны'.transliterate %>" alt="Краны" />
      <area shape="poly" coords="47,173,248,173,202,249,0,249" href="<%= url + Service.find_by_main_menu('Промысловая техника').id.to_s %>-<%= 'Промысловая техника'.transliterate %>" alt="Промысловая техника" />
      <area shape="poly" coords="369,0,570,0,528,76,322,76" href="<%= url + Service.find_by_main_menu('Бульдозеры').id.to_s %>-<%= 'Бульдозеры'.transliterate %>" alt="Бульдозеры" />
      <area shape="poly" coords="316,87,520,87,471,164,269,164" href="<%= url + Service.find_by_main_menu('Экскаваторы').id.to_s %>-<%= 'Экскаваторы'.transliterate %>" alt="Экскаваторы" />
      <area shape="poly" coords="266,173,470,173,425,249,220,249" href="<%= url + Service.find_by_main_menu('Тралы').id.to_s %>-<%= 'Тралы'.transliterate %>" alt="Тралы" />
    </map>
  </div>
  <div class="menu">
    <div class="wrap">
      <ul>
        <% pages = Page.where(:show_in_menu => true) %>
        <% pages.order("sort").all.each_with_index do |page, index| %>
            <li class="<%= 'last' if index == (pages.count - 1) %> <%= 'active' if page.to_params == params[:id] %>">
              <%= link_to page.title, "/pages/" + page.id.to_s + "-" + page.title.transliterate, :purpose => purpose_en[page.purpose] %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
