<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>СТС - транспортная компания</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript">
      var firstLoad = 1;
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="layout" id="first-layout">
    <%= yield %>
</div>

<div class="layout invisible-layout" id="second-layout"></div>

<%= render 'layouts/footer' %>

</body>
</html>
